<!DOCTYPE html>
<html lang="en">
<head>
    {% load static %}
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>ScrumSter</title>
    <link rel="stylesheet" href="{% static 'frontend/assets/index-build.css' %}">
    <link rel="icon" type="image/x-icon" href="{% static 'frontend/favicon.svg' %}">
    <script type="module" src="{% static 'frontend/assets/index-build.js' %}"></script>
</head>
<body>
    <div id="root"></div>
</body>
</html>
